<link rel="import" href="/components/services/identity/service.html">
<link rel="import" href="/components/ui-elements/sk-wave.html">
<link rel="import" href="/components/event/hub.html">
<dom-module is="request-password">
    <style>
        :host {
            position: relative;
        }
        #login-icon {
            margin-top: 0;
        }
    </style>
    <template>
        <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
        <div id="success-message" class="alert alert-success" hidden$="{{!hasSuccess}}"></div>
        <div class="animated fadeInUp">
            <h2 id="login-icon">Request Password</h2>
            <p>An e-mail will be sent to you so that you can reset your password.</p>
            <div class="form-group">
                <input id="username" type="text" placeholder="Username" class="form-control" value="{{username::input}}">
            </div>
            <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
            <button hidden$="{{spin}}" class="btn btn-primary block full-width m-b" on-click="sendNewPassEmail">Reset Password</button>
            <div><a href="javascript:;" on-click="resetLogin">Go Back</a></div>
        </div>
        <event-hub id="hub"></event-hub>
        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is : "request-password",
            ready: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventlistener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                this.username = "";
                this.spin = false;
                this.hasError = false;
                this.hasSuccess = false;
                
                return function() {
                    $(self.$.username).on("keydown", function(e) {
                        if (e.which === 13) {
                            self.sendNewPassEmail();
                        }
                    })
                }
            },
            sendNewPassEmail : function() {
                // Send username and password to some retrieve password API
                var self = this;
                
                if (self.username === "") {
                    return self.setErrorMessage("Enter username")
                }
                
                self.spin = true
                self.clearMessages();
                
                self.$.identity.requestToken(self.username)
                .done(function() {
                    self.spin = false;
                    self.username = "";
                    self.setSuccessMessage("E-mail to reset your password has been sent");
                })
                .fail(function(err) {
                    self.spin = false;
                    self.setErrorMessage(err.statusText);
                })
                
            },
            resetLogin: function() {
                window.location = window.config.login + "#components-security-login"
            },
            setErrorMessage: function(message) {
                this.hasError = true;
                this.$["error-message"].innerHTML = message;
            },
            setSuccessMessage: function(message) {
                this.hasSuccess = true;
                this.$["success-message"].innerHTML = message;
            },
            clearMessages: function() {
                this.hasError = false;
                this.hasSuccess = false;
                this.$["error-message"].innerHTML = "";
                this.$["success-message"].innerHTML = "";
            }
        })
    </script>
</dom-module>