<link rel="import" href="/components/services/http/request.html">
<dom-module id="queue-menu">
    <template>
        <http-request id="http"></http-request>
        <li class="active">
            <a class='link' href="javascript:;">
                <i class="fa fa-database"></i>
                <span class="nav-label">Queues</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-2-level collapse">
                <template is="dom-repeat" items="{{queues}}">
                    <li>
                        <a class='link' href="{{getQueueUrl(item)}}">
                            <!--<i class="fa fa-exclamation-circle"></i>-->
                            <span class="nav-label">{{item.name}}</span>
                        </a>
                    </li>
                </template>
            </ul>
        </li>
    </template>
    <script>
        Polymer({
			is : 'queue-menu',
            attached: function(){
                var self = this;
                self.$.http.get("/", window.config.services.queue, function(queues){
                    self.set("queues", queues);
                });
			},
            getQueueUrl : function(queue){
                return "/#/components-queue-view/id:" + queue.id;
            }
		});
    </script>
</dom-module>