<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/services/format.html">
<style>
    .payments-tab.wrapper {
        padding: 20px;
        padding-right: 20px !important;
    }
    .header {
        margin-bottom: 10px;
    }
    .header-right {
        position: absolute;
        right: 20px;
    }
    .btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    .btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #payment-search {
        width: 250px;
    }
    .header .input-group {
        width: 1px;
    }
    .inline-block {
        display: inline-block;
    }
    #length-selector {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }
    .tags {
        margin-right: 10px;
    }
    tr td:nth-of-type(6) {
        text-align: center;
    }
</style>
<dom-module id="scheduled-tab">
    <template>
        <div class="wrapper">
            <div class="header">
                <span class="header-left">
                    <span class="tags">
                        <span id="show-all" class="btn btn-xs btn-default selected">All</span>
                        <span class="btn btn-xs btn-default">Scheduled</span>
                        <span class="btn btn-xs btn-default">Completed</span>
                    </span>
                    <label>
                        <select name="table_length" id="length-selector" class="form-control">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> payments per page
                    </label>
                </span>
                <span class="header-right">
                    <div class="inline-block">
                        <div class="input-group">
                            <input type="text" id="payment-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </span>
            </div>
            
            <table id="scheduled-table" class="table hover issue-tracker">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "scheduled-tab",
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.headers = ["Due Date", "Payment Amount", "Status", "Type"];
                
                return function() {
                    // Send request once jQuery has loaded
                    self.$.http.get("/:loan/schedule", window.config.services.loan, function(schedule) {
                        // Set response as table data
                        self.setScheduled(schedule);
                        // Add jQuery dataTable initialization to microtimer 
                        self.async(function() {
                            if ( !$.fn.dataTable.isDataTable("#scheduled-table") ) {
                                self.initializeDataTable();
                            } else {
                                var table = $("#scheduled-table", self).dataTable();
                                table.fnClearTable();
                                if (self.scheduled.length > 0) {
                                    table.fnAddData(self.scheduled)
                                }
                                self.addClickHandling();
                            }
                        })
                    })
                }
            },
            setScheduled: function(data) {
                var schedule = [];
                for (var i = 0; i < data.length; i++) {
                    var payment = data[i];
                    var row = [
                        this.formatDate(payment.dueDate),
                        '$' + this.formatMoney(payment.paymentAmount),
                        this.capitalize(payment.status),
                        this.capitalize(payment.type),
                        payment.paymentMethod,
                        // No Data for Button
                        '',
                        payment.paymentId
                    ];
                    schedule.push(row);
                }
                this.set("scheduled", schedule);
            },
            initializeDataTable: function() {
                var self = this;
                
                var table = this.table = $("#scheduled-table", this).DataTable({
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    data: this.scheduled,
                    columns: [
                        { title: 'Date' },
                        { title: 'Amount' },
                        { title: 'Status' },
                        { title: 'Type' },
                        { title: 'Method' },
                        { title: '' }
                    ],
                    columnDefs: [
                        {
                            targets: [5],
                            orderable: false,
                            render: function(data, type, rowData, meta) {
                                var installment = self.convertRowDataToInstallment(rowData);
                                if (type === "display") {
                                    if (installment.method.toLowerCase() !== "check" &&
                                    installment.status.toLowerCase() === "scheduled" &&
                                    (installment.type.toLowerCase() === "additional" || installment.type.toLowerCase() === "payoff")) {
                                        return "<span class=\"btn btn-primary btn-xs cancel-btn\">Cancel</span>"
                                    }
                                    return "<span disabled class=\"btn btn-default btn-xs cancel-btn\">Cancel</span>"
                                }
                                return data;
                            }
                        }
                    ]
                });
                
                self.addClickHandling();
                
                // Create and render buttons
                new $.fn.dataTable.Buttons( table, {
                    buttons: ['copyHtml5', 'csvHtml5',
                        {
                            extend: 'excelHtml5',
                            title: 'payments',
                            extension: '.xlsx'
                        }, 'pdfHtml5', 'print'
                    ]
                })    
                
                // Tag Filters
                $(".tags span:not(#show-all)", this).on('click', function() {
                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected");
                        $("#show-all", self).addClass("selected");
                        table.columns().search('').draw()
                    } else {
                        $(".tags span", self).each(function() {
                            $(this).removeClass("selected");
                        })
                        $(this).addClass("selected");
                        table.columns(2).search($(this).text()).draw()
                    }
                });
                $(this.$["show-all"]).on('click', function() {
                    $(".tags span", self).each(function() {
                        $(this).removeClass("selected");
                    })
                    $(this).addClass("selected");
                table.columns().search('').draw()
                });
                
                // Custom Length Selector
                $(this.$["length-selector"]).on("change", function() {
                    table.page.len(this.value).draw();
                })
                // Custom search
                $(this.$["payment-search"]).on('input', function() {
                    table.search(this.value).draw();
                });
            },
            addClickHandling: function() {
                var self = this;
                
                $(".cancel-btn:not([disabled])", self).each(function() {
                    $(this).on('click', function() {
                        var rowPosition = $("#scheduled-table", self).dataTable().fnGetPosition($(this).closest('tr')[0]);
                        var rowData = $("#scheduled-table", self).dataTable().fnGetData(rowPosition);
                        var data = self.convertRowDataToInstallment(rowData);
                        
                        self.$.hub.publish("activity:dynamo",
                        {
                            activity: "cancel-payment",
                            title: "Cancel Payment",
                            properties: data
                        });
                    })
                });
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date);
            },
            capitalize: function(string) {
                return this.$.format.capitalize(string);
            },
            formatMoney : function(value){
                if(typeof(value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            resetTab : function() {
                this.init()();
            },
            convertRowDataToInstallment: function(rowData) {
                return {
                    date: rowData[0],
                    amount: rowData[1],
                    status: rowData[2],
                    type: rowData[3],
                    method: rowData[4],
                    paymentId: rowData[6]
                }
            }
        })
    </script>
</dom-module>