<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/services/url-parser.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/services/format.html">
<style>
    .payments-tab.wrapper {
        padding: 20px;
        padding-right: 20px !important;
    }
    .header {
        margin-bottom: 10px;
    }
    .header-right {
        position: absolute;
        right: 20px;
    }
    .btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    .btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #payment-search {
        width: 250px;
    }
    .header .input-group {
        width: 1px;
    }
    .inline-block {
        display: inline-block;
    }
    #length-selector {
        width: auto;
        display: inline-block;
    }
    label {
        font-weight: normal;
    }
    .tags {
        margin-right: 10px;
    }
    .inline {
        display: inline;
    }
</style>
<dom-module id="transactions-tab">
    <template>
        <div class="wrapper">
            <div class="header">
                <span class="header-left">
                    <span class="tags">
                        <span id="show-all" class="btn btn-xs btn-default selected">All</span>
                        <span class="btn btn-xs btn-default">Principal</span>
                        <span class="btn btn-xs btn-default">Funding</span>
                        <span class="btn btn-xs btn-default">Fee</span>
                    </span>
                    <label>
                        <select name="table_length" id="length-selector" class="form-control">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> payments per page
                    </label>
                </span>
                <span class="header-right">
                    <div class="inline-block">
                        <div class="input-group">
                            <input type="text" id="payment-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </span>
            </div>
            
            <table id="transactions-table" class="table hover issue-tracker">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "transactions-tab",
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.headers = ["Date", "Payment Amount", "Code", "Description"];
                
                return function() {
                    // Send request once jQuery has loaded
                    self.$.http.get("/:loan/transactions", window.config.services.loan, function(transactions) {
                        // Set response as table data
                        self.setTransactions(transactions);
                        // Add jQuery dataTable initialization to microtimer
                        self.async(function() {
                            if ( !$.fn.dataTable.isDataTable("#transactions-table") ) {
                                self.initializeDataTable();
                            } else {
                                var table = $("#transactions-table", this).dataTable();
                                table.fnClearTable();
                                if (self.transactions.length > 0) {
                                    table.fnAddData(self.transactions);
                                }
                            }
                        })
                    });
                }
            },
            setTransactions: function(data) {
                var transactions = [];
                var params = this.$.url.getParams();
                for (var i = 0; i < data.length; i++) {
                    var payment = data[i];
                    var row = [
                        this.formatDate(payment.date),
                        this.formatMoney(payment.amount),
                        payment.code,
                        payment.description
                    ];
                    transactions.push(row);
                }
                this.set("transactions", transactions);
            },
            initializeDataTable: function() {
                var self = this;
                
                var table = $("#transactions-table", this).DataTable({
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    data: this.transactions,
                    columns: [
                        { title: 'Date' },
                        { title: 'Amount' },
                        { title: 'Code' },
                        { title: 'Description' }
                    ]
                });
            
                $("#reverse-button", this).on("click", function() {
                    var $columns = $(this).closest("tr").find("td");
                    var payment = {
                        date: $columns[0].value, 
                        amount: $columns[1].value,
                        code: $columns[2].value,
                        description: $columns[3].value
                    };
                    this.$.hub.publish("activity:select", {
                        activity: "reverse-payment",
                        data: payment
                    });
                });
                
                new $.fn.dataTable.Buttons( table, {
                    buttons: ['copyHtml5', 'csvHtml5',
                        {
                            extend: 'excelHtml5',
                            title: 'payments',
                            extension: '.xlsx'
                        }, 'pdfHtml5', 'print'
                    ]
                });
                
                // Tag Filters
                $(".tags span:not(#show-all)", this).on('click', function() {
                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected");
                        table.columns().search('').draw()
                        $("#show-all", self).addClass("selected");
                    } else {
                        $(".tags span", self).each(function() {
                            $(this).removeClass("selected");
                        })
                        $(this).addClass("selected");
                        table.columns(3).search($(this).text()).draw()
                    }
                });
                $(this.$["show-all"]).on('click', function() {
                    $(".tags span", self).each(function() {
                        $(this).removeClass("selected");
                    })
                    $(this).addClass("selected");
                    table.columns().search('').draw()
                });
                
                // Custom search
                $(this.$["payment-search"]).on('input', function() {
                    table.search(this.value).draw();
                });
                
                // Custom Length Selector
                $(this.$["length-selector"]).on("change", function() {
                    table.page.len(this.value).draw();
                })
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date);
            },
            reversalAllowed: function(code) {
                return code === 120;
            },
            formatMoney : function(value){
                if(typeof(value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            resetTab: function() {
                this.init()();
            }
        })
    </script>
</dom-module>