<dom-module id="event-hub">
	<template>
		<content select="event-subscription"></content>
	</template>
	<script>
		Polymer({
			is : "event-hub",
			ready : function() {
				this.initialize();
				this.async(function(){
					this.registerSubscriptions();
				});
			},
			initialize : function(){
                this.calls = [];
                
				if(!window._eventHub){
					var callbacks = [];
					
					function publish() {
						var event = arguments[0],
							args = [].slice.call(arguments, 1),
							re = new RegExp("^" + event + "$");
						
						callbacks.forEach(function(call) {
							if(call.event == "*" || re.test(call.event))
								call.handler.apply(call.context, args);
						});
					}
					
					function subscribe(event, handler, context) {
						context = context || {};
                        var call = {
							event: event,
							handler: handler,
							context: context
						};
                        this.calls.push(call);
						callbacks.push(call);
					}
                    
                    function clear() {
                        for (var i = 0; i < this.calls.length; i++) {
                            var call = this.calls[i];
                            var indexOfCall = callbacks.indexOf(call);
                            if (indexOfCall !== -1) {
                                callbacks.splice(indexOfCall, 1);
                            }
                        }
                    }
					
					window._eventHub = {
						publish : publish,
						subscribe : subscribe,
                        clear: clear	
					};
				}
			},
            detached: function() {
                if (window._eventHub)
                    window._eventHub.clear.call(this);
            },
			registerSubscriptions : function(){
				var subscriptions = this.querySelectorAll("event-subscription");
				for(var i = 0; i<subscriptions.length;i++){
					var subscription = subscriptions[i];
					this.subscribe(subscription.event, subscription.handler);
				}
			},
			publish : function(){
				if(window._eventHub)
					window._eventHub.publish.apply(this, arguments);
			},
			subscribe : function(event, handler, context){
				if(window._eventHub)
					window._eventHub.subscribe.call(this, event, handler, context);
			}
		});
	</script>
</dom-module>