<dom-module id="ssn-input">
    <style>
    </style>
    <template>
        <input id="ssn" type="text" class="form-control" value="{{inputValue::input}}" on-input="log">
    </template>
    <script>
        Polymer({
            is: "ssn-input",
            properties: {
                inputValue: {
                    type: String,
                    notify: true
                }
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.mask) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    $(self.$.ssn).mask("000-00-0000", { placeholder: "___-__-____" })
                }
            },
            cleanInput: function(input) {
                return input.replace(/-/g, "").slice(0, 9);
            },
            validate: function() {
                if (this.inputValue == undefined) {
                    $("input", this).addClass("error");
                    return false
                }
                
                var re = /^(\d{3}-?\d{2}-?\d{4}|XXX-XX-XXXX)$/g;
                var valid = re.test(this.cleanInput(this.inputValue));
                
                if (!valid) {
                    $("input", this).addClass("error");
                    return false;
                }
                return true;
            },
            val: function() {
                if (arguments[0] != undefined) {
                    this.inputValue = arguments[0];
                }
                return this.inputValue || "";
            },
            log: function() {
                setTimeout(function() {
                    this.inputValue = this.inputValue.slice(0, 11);
                }.bind(this), 100)
            }
        });
    </script>
</dom-module>