<link rel="import" href="minimize-button.html">
<link rel="import" href="/components/search/inline.html">
<link rel="import" href="/components/profile/summary.html">
<dom-module id="nav-header-bar">
    <style>
        .navbar-header, .navbar-summary {
            display: inline-block;
        }
        .navbar-header {
            width: 80%;
        }
        .navbar-summary {
            width: 20%;
        }
    </style>
	<template>
		<nav class="navbar navbar-static-top border-bottom white-bg" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<nav-minimize-button></nav-minimize-button>
				<search-inline></search-inline>
			</div>
            <div class="navbar-summary">
                <profile-summary></profile-summary>                
            </div>
		</nav>
	</template>
	<script>
		Polymer({
			is : 'nav-header-bar'
		});
	</script>
</dom-module>
