<link rel="import" href="/components/ui-elements/forms/activity-form.html">
<link rel="import" href="/components/ui-elements/inputs/date-input.html">
<link rel="import" href="/components/ui-elements/inputs/number-input.html">
<link rel="import" href="/components/ui-elements/selectable-table.html">
<link rel="import" href="/components/ui-elements/inputs/routing-number-input.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/event/hub.html">
<dom-module is="payment-check">
    <style>
        .radio label {
            padding-left: 0;
            padding-right: 20px;
            cursor: pointer;
        }
        .inblock {
            display: inline-block;
        }
    </style>
    <template>
        <activity-form id="check-form">
            <div class="form-group">
                <h4><b>Date</b></h4>
                <template is="dom-if" if="{{startDate}}">
                    <date-input id="check-date" input-value="{{selectedDate}}" start-date="{{startDate}}"></date-input>
                </template>
            </div>
            
            <div class="form-group amount">
                <div class="radio radio-inline radio-primary">
                    <input name="check-fee-type" value="scheduled" id="check-installment-input" type="radio" on-click="radioClick" checked>
                    <label for="check-installment-input">Installment</label>
                </div>
                <div class="radio radio-inline radio-primary">
                    <input name="check-fee-type" value="fee" id="check-fee-input" type="radio" on-click="radioClick">
                    <label for="check-fee-input">Fee</label>
                </div>
                <div class="radio radio-inline radio-primary">
                    <input name="check-fee-type" value="payoff" id="check-payoff-input" type="radio" on-click="radioClick">
                    <label for="check-payoff-input">Payoff</label>
                </div>
            </div>
            
            <div class="divider"></div>
            <br>
            
            <div class="form-group">
                <h4><b>Check Amount</b></h4>
                <number-input id="checkAmount" input-type="currency" input-value="{{checkAmount}}"></number-input>
            </div>
            
            <template is="dom-if" if="{{!isFee(selectedType)}}">
                <div class="form-group animated fadeIn">
                    <h4><b>Check Fee</b></h4>
                    <number-input id="feeAmount" input-type="currency" input-value="{{feeAmount}}"></number-input>
                </div>
            </template>
            
            <template is="dom-if" if="{{isInstallment(selectedType)}}">
                <div class="form-group animated fadeIn">
                    <h4><b>Installment Amount</b></h4>
                    <number-input input-type="currency" input-value="[[paymentAmount]]" read-only></number-input>
                </div>
            </template>
            
            <template is="dom-if" if="{{isFee(selectedType)}}">
                <div class="form-group animated fadeIn">
                    <h4><b>Fee Type</b></h4>
                    <select name="payment-type" id="payment-type" class="form-control" value="{{selectedFeeCode::change}}">
                        <template is="dom-repeat" items="{{feeCodes}}">
                            <option value="{{item.code}}">{{item.title}}</option>
                        </template>
                    </select>
                </div>
                <div class="form-group animated fadeIn">
                    <h4><b>Fee Amount</b></h4>
                    <number-input id="fee-amount" input-type="currency" input-value="{{feeAmount}}"></number-input>
                </div>
            </template>
            
            <template is="dom-if" if="{{isPayoff(selectedType)}}">
                <div class="form-group animated fadeIn">
                    <h4><b>Payoff Amount</b></h4>
                    <number-input id="check-payoff-amount" input-type="currency" input-value="{{payoffAmount}}" read-only></number-input>
                </div>
            </template>
            
            <div class="form-group">
                <h4 class="inblock"><b>{{balanceText(selectedType)}}</b></h4> <span>{{customerText(selectedType)}}</span>
                <number-input input-type="currency" input-value="[[balance]]" read-only></number-input>
            </div>
            
            <br>
            <div class="divider"></div>
            <br>
            
            <div class="form-group">
                <h4><b>Check Number</b></h4>
                <number-input id="check-number" input-value="{{checkNumber}}"></number-input>
            </div>
            
            <div class="form-group">
                <h4><b>Routing Number</b></h4>
                <number-input id="check-routing-number" input-value="{{routingNumber}}"></number-input>
            </div>
            
            <h4><b>Notes</b></h4>
            <div class="form-group">
                <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{notes::input}}"></textarea>
            </div>
            
            <span class="btn btn-primary" on-click="submitForm">Submit</span>
            or <span><a href="javascript:;" on-click="resetApp">Cancel</a></span>
        </activity-form>
        
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "payment-check",
            properties: {
                currentLoan: {
                    type: Object,
                    notify: true
                }
            },
            observers: [
                "handleTypeChange(selectedType, checkProcessingFeeAmount)",
                "getFeeAmount(selectedFeeCode)",
                "onLoanLoad(currentLoan)",
                "onChangeDate(selectedDate)",
                "calculateBalance(checkAmount, feeAmount, paymentAmount, payoffAmount, currentLoan, selectedType)"
            ],
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.balance;
                self.selectedFeeCode;
                self.checkAmount = "0.00";
                // Set fee amount from config
                self.feeAmount = "0.00";
                self.payoffAmount = "0.00";
                self.notes = "";
                self.checkNumber = "";
                self.routingNumber = "";
                self.selectedType = "scheduled"
                self.selectedDate = self.formatDate(moment());
                
                self.feeCodes = [];
                var codes = window.config["loan-fees"].codes;
                for (var name in codes) {
                    self.push("feeCodes", {
                        title: name,
                        code: codes[name].code,
                        amount: codes[name].amount
                    })
                }
                
                return function() {
                    self.$.http.get("/loan-payment", window.config.services.configuration, function(res) {
                        self.checkProcessingFeeAmount = self.feeAmount = res.checkProcessingFeeAmount;
                    })
                };
            },
            onLoanLoad: function() {
                if (!this.currentLoan) { return }
                this.paymentAmount = this.currentLoan.daysPastDue > 0 ? this.currentLoan.currentDue :
                this.currentLoan.nextInstallmentAmount;
                
                this.startDate = this.formatDate(this.currentLoan.terms.fundedDate);
            },
            getFeeAmount: function() {
                if (!this.selectedFeeCode) { return }
                for (var i = 0; i < this.feeCodes.length; i++) {
                    var feeCode = this.feeCodes[i];
                    if (feeCode.code === this.selectedFeeCode) {
                        return this.feeAmount = feeCode.amount
                    }
                }
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date, true);
            },
            radioClick: function(e) {
                if (this.selectedType !== e.target.value) {
                    this.selectedType = e.target.value;
                }
            },
            handleTypeChange: function(selectedType) {
                this.$["check-form"].clearErrorMessages();
                switch (selectedType) {
                    case "scheduled":
                        this.feeAmount = this.checkProcessingFeeAmount;
                        break;
                    case "fee":
                        this.selectedFeeCode = this.feeCodes[0].code;
                        this.feeAmount = this.feeCodes[0].amount;
                        break;
                    case "payoff":
                        if (!+this.payoffAmount) {
                            this.getPayoffAmount();
                        }
                        this.feeAmount = this.checkProcessingFeeAmount;
                        break;
                    default:
                        break;
                }
            },
            calculateBalance: function(checkAmount, feeAmount) {
                if (!this.currentLoan) { return }
                var result = +checkAmount.replace(/,/g, "") - +feeAmount.replace(/,/g, "");
                if (this.selectedType === "scheduled") {
                    installmentAmount = this.currentLoan.daysPastDue > 0 ? this.currentLoan.currentDue : this.currentLoan.nextInstallmentAmount;
                    result -= +installmentAmount;
                    if (result.toFixed(2) < 0) {
                        this.paymentAmount = "0.00"
                        return this.balance = this.$.format.formatCurrency((checkAmount - +feeAmount.replace(/,/g, "")).toFixed(2));
                    } else {
                        this.paymentAmount = installmentAmount;
                    };
                }
                if (this.selectedType === "payoff") {
                    result -= +this.payoffAmount.replace(/,/g, "");
                }
                // Get payoff amount
                // result  -= payoffAmount
                if (result.toFixed(2) === "-0.00") {
                    return this.balance = this.$.format.formatCurrency("0.00"); 
                }
                this.balance = this.$.format.formatCurrency(result.toFixed(2));
            },
            isInstallment: function() {
                return this.selectedType === "scheduled"
            },
            isFee: function() {
                return this.selectedType === "fee"
            },
            isPayoff: function() {
                return this.selectedType === "payoff"
            },
            getPayoffAmount : function() {
                var self = this;
                
                self.$["check-form"].clearErrorMessages();
                
                var paymentDate = self.currentLoan.lastPaymentDate !== null ? moment(self.currentLoan.lastPaymentDate).format("YYYY-MM-DD")
                    : moment(self.currentLoan.terms.originationDate).format("YYYY-MM-DD")
                var loanInfo = {
                    amount : self.currentLoan.terms.currentLoanAmount,
                    term : self.currentLoan.terms.term,
                    rate : self.currentLoan.terms.rate,
                    fees : self.currentLoan.terms.fees,
                    currentBalance : self.currentLoan.remainingBalance,
                    lastPaymentDate : paymentDate
                };
                // TODO: Change to accept either payoff amount OR catch up ammount
                self.$.http.get("/:loan/payoff/amount/" + moment(self.selectedDate).format("YYYY-MM-DD"), window.config.services.loan,
                function(response) {
                    response.amount = response.amount % 1 === 0 ? response.amount + ".00" : response.amount;
                    self.payoffAmount = self.$.format.formatCurrency(response.amount);
                }, function(error) {
                    if (error && error.responseJSON && error.responseJSON.message) {
                        return self.$["check-form"].displayErrorMessage(error.responseJSON.message)
                    }
                    return self.$["check-form"].displayErrorMessage("Error submitting request. Please try again or contact support.");
                })
            },
            balanceText: function() {
                return this.selectedType === "scheduled" ? "Extra Payment" : "Balance";
            },
            customerText: function() {
                return this.selectedType === "scheduled" ? "" : "(Refund to Customer)";
            },
            onChangeDate: function() {
                if (this.selectedType === "payoff" && this.selectedDate !== "") {
                    this.getPayoffAmount();
                }
            },
            checkForErrors: function() {
                var errorCount = 0;
                if (+this.balance.replace(/,/g, "") < 0) {
                    this.$["check-form"].displayErrorMessage("Check amount is too low.");
                    return true;
                }
                if (!this.selectedDate) {
                    this.$["check-form"].displayErrorMessage("Date required.");
                    this.$$("#check-date").addError();
                    errorCount++
                }
                if (!this.checkNumber) {
                    this.$["check-form"].displayErrorMessage("Check Number required.");
                    this.$["check-number"].addError()
                    errorCount++
                }
                if (!this.routingNumber) {
                    this.$["check-form"].displayErrorMessage("Routing Number required.");
                    this.$["check-routing-number"].addError();
                    errorCount++
                }
                if (errorCount > 1) {
                    this.$["check-form"].displayErrorMessage("Please fill out all forms highlighted in red.");
                }
                return !!errorCount;
            },
            clearErrors: function() {
                $(".error", this).removeClass("error");
                this.$["check-form"].clearErrorMessages();
            },
            submitForm: function() {
                var self = this;
                
                this.clearErrors();
                
                // Do not submit if form has errors
                // if (this.checkForErrors()) { return };
                
                var paymentInformation = {
                    dueDate: self.selectedDate,
                    type: self.selectedType,
                    routingNumber: self.routingNumber,
                    checkNumber: self.checkNumber,
                    notes: self.notes,
                    method: "Check",
                    status: "Pending",
                    checkAmount: self.checkAmount,
                    feeAmount: self.feeAmount,
                    loanReferenceNumber: self.currentLoan.referenceNumber
                }
                
                if (self.selectedType === "fee") {
                    paymentInformation.code = self.selectedFeeCode;
                }
                
                self.$.http.put("/check", paymentInformation, window.config.services.payment,
                function() {
                    self.$.hub.publish("notification:show", {type: "success", message: "Add Payment successfully submitted."});
                    setTimeout(function() {
                        self.$.hub.publish("tabs:reset");
                    }, 1000);
                    self.resetApp();
                }, function(err) {
                    self.$["check-form"].displayErrorMessage(err.responseJSON.message);
                });
            },
            resetApp: function() {
                this.$["check-form"].clearErrorMessages();
                $("#check-installment-input", this).prop("checked", true);
                this.$.hub.publish("activity:close", {
                    activity: "add-onetime-payment"
                });
                this.init();
            }
        });
    </script>
</dom-module>