<link rel="import" href="payment-methods/ach.html">
<link rel="import" href="payment-methods/check.html">
<dom-module id="add-payment">
    <style>
        a.dropdown-toggle {
            margin-bottom: 0;
        }
    </style>
    <template>
        <div class="btn-group btn-group-justified">
            <a href="javascript:;" class="btn btn-default" role="button" data-value="ACH">ACH</a>
            <a href="javascript:;" class="btn btn-white" role="button" data-value="check">Check</a>
            <!--<div class="btn-group" role="group">
                <a href="javascript:;" class="btn btn-white dropdown-toggle" data-toggle="dropdown">Other<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:;" role="button">Credit Card</a>
                    </li>
                    <li>
                        <a href="javascript:;" role="button">Cash</a>
                    </li>
                </ul>
            </div>-->
        </div>

        <div class="divider"></div>
        <br>
        
        <payment-ach id="ach" hidden$="{{!isSelected(selectedForm, 'ACH')}}" current-loan="[[currentLoan]]"></payment-ach>
        <payment-check id="check" hidden$="{{!isSelected(selectedForm, 'check')}}" current-loan="[[currentLoan]]"></payment-check>
    </template>
    <script>
        Polymer({
            is : "add-payment",
            properties:{
                currentLoan: {
                    type: Object,
                    notify: true
                },  
            },
            attached : function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                
            },
            init : function() {
                var self = this;
                self.selectedForm = "ACH";
                return function() {
                    var $formButtons = $('a[role="button"]', self);
                    $formButtons.each(function() {
                        $(this).on("click", function() {
                            $formButtons.each(function() {
                                $(this).removeClass("btn-default").addClass("btn-white");
                            })
                            self.selectedForm = this.dataset.value;
                            $(this).removeClass("btn-white").addClass("btn-default");
                        })
                    })
                }
            },
            isSelected : function(selectedForm, formCheck) {
                if (this.selectedForm === formCheck) {
                    return true;
                }
                return false;
            },
            resetApp: function() {
                if (this.isSelected(this.selectedForm, 'ACH')) {
                    $("#ach", this)[0].resetApp();
                }
                if (this.isSelected(this.selectedForm, 'check')) {
                    $("#check", this)[0].resetApp();
                }
            }
        });
    </script>
</dom-module>