<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/ui-elements/dropdown-list.html">
<link rel="import" href="/components/ui-elements/inputs/number-input.html">
<link rel="import" href="/components/ui-elements/forms/activity-form.html">

<dom-module id="modify-payment">
  <style>
    .radio label {
      padding-left: 2px;
    }
    .checkbox label {
      padding-left: 4px;
    }
    .checkbox.checkbox-inline {
      margin-left: 0;
    }
    #account-verification {
      color: #88BF40;
      font-size: 20px
    }
    .table-striped > tbody > tr#selected-account {
      background-color: #AED47D;
    }
    .table > tbody > tr > td {
      vertical-align: middle;
    }
    #modify-payment-table {
      overflow: visible;
    }
  </style>
  <template>
    <div hidden$="{{!hasAlert}}" id="status-message" class="alert alert-danger"></div>
    <activity-form id="modify-form">
      <div class="form-group">
        <div class="two-column-form">
          <h4><strong>Routing #</strong></h4>
          <number-input input-value="{{selectedAccount.routingNumber}}"></number-input>
        </div>
        <div class="two-column-form two-column-single-tag">
          <h4><strong>{{selectedAccount.bankName}}</strong></h4>
        </div>
      </div>

      <div class="form-group">
        <div class="two-column-form">
          <h4><strong>Account #</strong></h4>
          <number-input input-value="{{selectedAccount.accountNumber}}"></number-input>
        </div>
        <div class="two-column-form two-column-double-tag">
          <div hidden$="{{accountVerified}}" class="checkbox checkbox-inline checkbox-primary">
            <input id="override" type="checkbox" checked={{verificationOverridden::change}}>
            <label for="override">Proceed anyway</label>
          </div>
          <div hidden$="{{!accountVerified}}">
            <i id="account-verification" class="fa fa-check fa-lg"></i>
            <span>Account verified</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h4><strong>Account Type</strong></h4>
        <div class="radio radio-primary radio-inline" on-click="selectPayment">
          <input id="checking" type="radio" name="payment-type" value="Checking" checked>
          <label for="checking">Checking</label>
        </div>
        <div class="radio radio-primary radio-inline" on-click="selectPayment">
          <input id="savings" type="radio" name="payment-type" value="Savings">
          <label for="savings">Savings</label>
        </div>
      </div>

      <div class="form-group">
        <h4><b>Notes</b></h4>
        <textarea id="notes" rows="6" form="modify-form" class="form-control" value="{{notes::input}}"></textarea>
      </div>

      <div class="form-group">
        <input id="form-submit" type="submit" class="btn btn-primary" value="{{submitText(isModification)}}" on-click="editExistingAccount" disabled$="{{!toggleSubmit(accountVerified, verificationOverridden)}}">
        <span>or <a href="javascript:;" on-click="resetApp">Cancel</a></span>
      </div>
    </activity-form>

    <selectable-table id="select-table" table-headers="{{headers}}" table-items="[[items]]"
    select-type="false">
    </selectable-table>

    </div>
    <event-hub id="hub"></event-hub>
  </template>
  <script>
    Polymer({
      is : "modify-payment",
      attached : function() {
        var self = this;

        if (window.jQuery) {
          self.init()();
        } else {
          window.addEventListener("WebComponentsReady", self.init());
        }
      },
      init : function() {
        var self = this;
        self.headers = {
          bankName: "Bank Name",
          routingNumber: "Routing #",
          accountNumber: "Account #",
          paymentType: "Type"
        }

        self.hasAlert = false;
        self.accountVerified = false;
        self.verificationOverridden = false;
        self.isModification = true;
        self.selectedIndex;

        self.notes = "";
        self.$["select-table"].columnWidth = [0, 0, 22, 10];

        return function() {
          self.items = [];
          
          // Bootstrap jQuery
          $(self.$["modify-form"]).submit(function(e){
            return false;
          });

          self.$["select-table"].addEventListener('row-selected', function(e) {
            self.isModification = true;
            self.getBankName();
            self.verifyAccount();
            e.stopPropagation();
          })
          
          self.$["select-table"].addEventListener('row-deleted', function(e) {
            var selectedRow = $(e.target).find("tr")[e.detail.index + 1];
            $(this).find("span").remove();
            e.stopPropagation();
          })
        };
      },
      properties: {
        currentLoan: {
          type: Object,
          notify: true
        }
      },
      observers : [
        "getBankName(selectedAccount.routingNumber)",
        "verifyAccount(selectedAccount.routingNumber, selectedAccount.accountNumber)",
        "updateCurrentLoan(currentLoan)"
      ],
      updateCurrentLoan : function(){
          var self = this;
          self.set("loan", self.currentLoan);
          if(self.loan && self.loan.terms){
              
              var item = {
                  bankName : self.getBankName(),
                  routingNumber : self.loan.bankInfo.routingNumber,
                  accountNumber : self.loan.bankInfo.accountNumber,
                  paymentType : self.loan.bankInfo.accountType,
                  isPrimary : true
              };
              self.set("items", [item]);
              self.set("selectedAccount", item);
          }
      },
      // Enable/Disable submit button
      toggleSubmit : function(accountVerified, verificationOverridden) {
        return accountVerified || verificationOverridden;
      },
      // Change submit button text based on modification status
      submitText : function(isModification) {
        return isModification ? "Modify Account" : "Add New Account";
      },
      // Reset form, table, and all element properties
      resetApp : function() {
        this.init();
        this.verifyAccount();
        this.$.hub.publish("activity:close", {
          activity: "modify-payment"
        });
      },
      waitForChildren : function(fn) {
        var args = Array.prototype.slice.call(arguments);
          this.async(function() {
            fn.apply(this, args[1]);
          }, 1)
      },
      selectPayment : function(e) {
        var selectedPaymentType = $(e.target).parent().find("input").trigger("click").val()
        this.selectedAccount.paymentType = selectedPaymentType;
      },
      // Send API request to edit existing account
      editExistingAccount : function() {
        var self = this;
        var accountDetails = $.extend(true, {}, this.selectedAccount);
        self.set("items." + self.selectedIndex, accountDetails);
          self.$.hub.publish("notification:show", {type: "success", message: "Modified existing payment method successfully"});
        self.resetApp();
      },
      // Make API request for Bank Name
      getBankName : function(routingNumber) {
        return "Chase";
      },
      // Make API request for Account Verification
      verifyAccount : function(accountNumber, routingNumber) {
        var self = this;
        if (!!self.selectedAccount.bankName !== true || !self.selectedAccount.accountNumber) {
          return self.accountVerified = false;
        }
        self.accountVerified = true;
      }
    })
  </script>
</dom-module>
