<link rel="import" href="/components/ui-elements/selectable-table.html">
<link rel="import" href="/components/ui-elements/dropdown-list.html">
<link rel="import" href="/components/ui-elements/dropdown-element.html">
<link rel="import" href="/components/ui-elements/inputs/date-input.html">
<link rel="import" href="/components/ui-elements/forms/activity-form.html">
<link rel="import" href="/components/event/hub.html">
<dom-module id="start-stop-ach">
  <style>
    .two-column-form {
        display: inline-block;
        width: 43%;
        vertical-align: middle;
    }
    .table > tbody > tr > td {
      vertical-align: middle;
    }
    .btn-primary.delete {
      background-color: #FF9E9E;
      border-color: #E09898;
    }
    #selected-period {
      background-color: #AED47D;
    }
    .btn-primary.delete.start-stop-ach:active:focus {
        background-color: #D77777;
        border-color: #9E5454;
    }
    .btn {
      border-radius: 5px;
    }
  </style>
  <template>
    <h4><strong>Current Payment Account</strong></h4>
    <table class="table table table-striped table-bordered">
        <thead >
            <tr>
                <th>Bank Name</th>
                <th>Routing #</th>
                <th>Account #</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{currentAccount.bankName}}</td>
                <td>{{currentAccount.routingNumber}}</td>
                <td>{{currentAccount.accountNumber}}</td>
            </tr>
        </tbody>
    </table>

    <activity-form id="stop-ach-form">
      <div class="form-group no-bottom-margin">
        <div class="two-column-form">
          <h4><strong>From:</strong></h4>
        </div>
        <div class="two-column-form">
          <h4><strong>To:</strong></h4>
        </div>
      </div>
      <template is="dom-repeat" items="{{additionalPeriods}}" id="additionalPeriods">
        <div class="form-group">
          <div class="two-column-form">
            <date-input input-value="{{item.fromDate}}"></date-input>
          </div>
          <div class="two-column-form">
            <date-input input-value="{{item.toDate}}"></date-input>
          </div>
          <span>
            <a class$="{{addPeriodColorClasses(item.index)}}" href="javascript:;" on-click="handleAddPeriodClick" data-index$="{{item.index}}" disabled$="{{periodToBeModifiedIndex}}"><i class$="{{addPeriodIconClasses(item.index)}}"></i></a>
          </span>
        </div>
      </template>

      <h4><strong>Notes</strong></h4>
      <div class="form-group">
        <textarea id="notes" rows="6" form="stop-ach-form" class="form-control" value="{{notes::input}}"></textarea>
      </div>

      <input id="submit" type="submit" class="btn btn-primary" on-click="submitPeriods" value="Submit">
      <span>or <a href="javascript:;" on-click="resetApp">Cancel</a></span>
    </activity-form>

    <h4><strong>Existing Stop Payments</strong></h4>
    <selectable-table id="select-table" table-headers="{{headers}}" table-items="[[stopPeriods]]" selected-row="{{selectedPeriod}}" selected-row-index="{{periodToBeModifiedIndex}}">
    </selectable-table>
    <event-hub id="hub"></event-hub>
  </template>
  <script>
    Polymer({
      is : "start-stop-ach",
      attached : function() {
        var self = this;

        if (window.jQuery) {
          self.init()();
        } else {
          window.addEventListener("WebComponentsReady", self.init())
        }
      },
      init : function() {
        var self = this;

        self.alertMessage = "";
        self.selectedPeriod = null;
        self.periodToBeModifiedIndex = null;

        self.$["select-table"].columnWidth = [45, 45, 10];

        self.headers = {
          fromDate: "From Date",
          toDate: "To Date"
        }

        self.Period = function(index) {
          this.index = index || 0,
          this.fromDate = "",
          this.toDate = "",
          this.periodApproved = false;
        };
        self.additionalPeriods = [new self.Period()];
        
        self.addEventListener("row-deleted", function(e) {
          if(e.detail.index === self.periodToBeModifiedIndex) {
            self.resetApp();
          }
        });
        return function() {
          self.currentAccount = {
            bankName: "Bank of America",
            routingNumber: "322271627",
            accountNumber: "322271627"
          }
          self.stopPeriods = [];
          for (var i = 0; i < 3; i++) {
            self.push("stopPeriods", {
              fromDate: "09/01/2015",
              toDate: "10/01/2015",
              periodApproved: false
            });
            if (i === 2) {
              self.stopPeriods[2].periodApproved = true;
            }
            if (i === 2) {
              self.stopPeriods[1].periodApproved = "cancelationRequested";
            }
          }

          self.async(function() {
            $(self.$["stop-ach-form"]).submit(function(e){
                return false;
            });
          });
        };
      },

      observers : [
        "selectPeriodToBeModified(selectedPeriod)"
      ],

      selectPeriodToBeModified : function(selectedPeriod) {
        if (selectedPeriod) {
          this.selectedPeriod.index = 0;
          this.set("additionalPeriods", [this.selectedPeriod]);
        }
      },
      // Check if is last add period
      isLastAddPeriod : function(index) {
        return index === this.additionalPeriods.length - 1 ? true : false;
      },
      // Select either "+" or "x" for add period button
      addPeriodIconClasses : function(index) {
        return this.isLastAddPeriod(index) ? "fa fa-plus" : "fa fa-times";
      },
      addPeriodColorClasses : function(index) {
        return this.isLastAddPeriod(index) ? "btn btn-xs btn-primary" : "btn btn-xs btn-primary delete";
      },
      // Api request to add new submit periods
      submitPeriods: function() {
        var valid = this.$["stop-ach-form"].validateForm();
        if (!valid) { return }

        this.periodToBeModifiedIndex === null ? this.addNewPeriods() : this.modifyExistingPeriods()
      },
      addNewPeriods : function() {
        var self = this;
        self.additionalPeriods.forEach(function(period) {
          delete period.index;
          self.push("stopPeriods", period);
        })
        self.apiRequest().then(function() {
          self.additionalPeriods = [new self.Period(0)];
          self.$.hub.publish("notification:show", {type: "success", message: "Add Stop ACH Period successfully submitted."});
          self.async(self.resetApp);
        })
      },
      modifyExistingPeriods : function() {
        var self = this;
        var modifiedItem = "stopPeriods." + self.periodToBeModifiedIndex;
        var newDetails = $.extend(true, {}, self.additionalPeriods[0]);
        self.set(modifiedItem + ".fromDate", newDetails.fromDate);
        self.set(modifiedItem + ".toDate", newDetails.toDate);

        self.apiRequest().then(function() {
          self.additionalPeriods = [new self.Period(0)];
          self.$.hub.publish("notification:show", {type: "success", message: "Modifiy Stop ACH Period successfully submitted."});
          self.async(self.resetApp);
        })
      },
      // Either add a new add period field or delete the selected add period field
      handleAddPeriodClick : function(e) {
        if (this.periodToBeModifiedIndex !== null) { return }
        var index = e.model.index;
        this.isLastAddPeriod(index) ? this.createAddPeriodField(index) : this.deleteAddPeriodField(index);
        e.stopPropagation();
      },
      createAddPeriodField : function(index) {
        var lastPosition = this.additionalPeriods.length;
        this.push("additionalPeriods", new this.Period(lastPosition));
        for (var i = lastPosition - 1; i < lastPosition; i++) {
          var currentIndex = this.additionalPeriods[i].index;
          this.set("additionalPeriods." + i + ".index", -1);
          this.set("additionalPeriods." + i + ".index", currentIndex);
        }
      },
      deleteAddPeriodField : function(index) {
        this.splice("additionalPeriods", index, 1);
        for (var i = index, numOfPeriods = this.additionalPeriods.length; i < numOfPeriods; i++) {
          this.set("additionalPeriods." + i + ".index", this.additionalPeriods[i].index - 1);
        }
      },
      // Reset initial values, remove highlighted account, clear all fields in a form
      resetApp : function() {
        this.init();
        this.$["select-table"].refreshTable();
        this.async(function() {
          this.$["stop-ach-form"].clearForm();
        });
        this.$.hub.publish("activity:close", {
          activity: "start-stop-ach"
        });
      },
      apiRequest : function() {
        var ajaxRequest = new Promise(function(resolve, reject) {
          resolve();
        });
        return ajaxRequest;
      }
    })
  </script>
</dom-module>
