<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/services/identity/session-manager.html">
<style>
    #host {
        background-color: #F3F3F4;
    }
</style>
<dom-module id="application-host">
	<template>
		<div id="host">

		</div>
		<event-hub id="hub"></event-hub>
        <session-manager id="session"></session-manager>
	</template>
	<script>
		Polymer({
			is : 'application-host',
			properties : {
				href : {
					type : String,
					notify : true,
					reflectToAttribute : true
				},
				params : {
					type : String,
					notify : true,
					reflectToAttribute : true,
					value : null
				}
			},
			observers : ["load(href,params)"],
			ready : function(){
                var self = this;
                
                window.addEventListener("hashchange", self.loadOnChange(), false);
				self.loadOnChange()();
			},
			loadOnChange : function(){
				var $this = this;
				return function(){
					var hash = document.location.hash;
					if(hash != undefined && hash != ""){
						var path = hash.replace(/#\/|#/g, "");
						var $params = path.split("/");
						if($params.length > 0){
							var parsedUrl = $params[0].replace(/-/g, '/') + ".html";
							var params = {};
							if ($params.length > 1) {
								var attributes = $params.splice(1);
								for (var i =0; i< attributes.length; i++) {
                                    var pair = attributes[i].split(":");
                                    if (pair.length == 2)
                                        pair[1] = pair[1].replace(/\%20/g, ' ');
                                        params[pair[0]] = pair[1];
                                    }
							}
							$this.load(parsedUrl, params);
						}
					}
				};
			},
			load : function(href, params){

				var host = Polymer.dom(this.$.host);
                           
				// load the component into DOM
				this.importHref(href, function(e){
                    var childNodes = host.childNodes;
                    for(var i = 0; i< childNodes.length; i++) {
                        host.removeChild(childNodes[i]);               
                    }
					// get the name of the element
					var id = Polymer
						.dom(e.target.import.body)
						.querySelector("dom-module")
						.getAttribute("id");

					// create the element with the provided parameters
					var element = document.createElement(id);
					for(var paramName in params)
						element.setAttribute(paramName, params[paramName])

					// append created element
					host.appendChild(element);
					host.flush();

					this.$.hub.publish("application-host:loaded", {
						id: id,
						href : href,
						params : params
					});
				});
			}
		});
	</script>
</dom-module>
