<link rel="import" href="/components/services/url-parser.html">
<link rel="import" href="/components/services/identity/session-manager.html">
<dom-module id="http-request">
    <template>
        <url-parser id="url"></url-parser>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is : "http-request",
            ready : function() {
                var self = this;
                
                window.jQuery ? self.init()() : window.addEventListener("WebComponentsReady", self.init());
            },
            init : function() {
                var self = this;
                return function() {
                }
            },
            parseUrl: function(url) {
                // Allows ability to pass in parameters defined in the URL of the current page
                // example: this.$.http("/endpoint/:param");
                var urlParams = this.$.url.getParams();
                var ajaxParams = this.$.url.getParams(url);
                
                if (!urlParams) { return url }
                for (var params in ajaxParams) {
                    url = url.replace(":" + params, urlParams[params]);
                }
                url = url.replace(/:/g, "");
                return url;
            },
            get: function(url, base, cb, ecb) {
                return this._request(url, undefined, base, "GET", cb, ecb);
            },
            post: function(url, data, base, cb, ecb) {
                return this._request(url, data, base, "POST", cb, ecb);
            },
            put: function(url, data, base, cb, ecb) {
                return this._request(url, data, base, "PUT", cb, ecb);
            },
            delete: function(url, data, base, cb, ecb) {
                return this._request(url, data, base, "DELETE", cb, ecb);
            },
            _request: function(url, data, base, type, cb, ecb) {
                var self = this;
                var base = base || window.config.base;
                // Store url in "a" tag to access href API
                var a = $("<a>", { href : url})[0];
                a.pathname = self.parseUrl(a.pathname);
                var requestUrl = base + a.pathname + a.search;
                // Checks passed in url against public endpoints
                var publicEndpoints =["login", "alloy", "request-token", "logout", "reset-password"];
                var isPrivate = publicEndpoints.indexOf(url.slice(1).replace(/\//g, " ").split(" ")[0]) === -1;
                // Get user token if private, else use app token
                var token = isPrivate ?  self.$.session.get("token") : window.defaultAppToken;
                // Check if body is sent
                var sendBody = ["POST", "PUT", "DELETE"];
                var requestInfo = {
                    type: type,
                    url: requestUrl,
                    data: JSON.stringify(data),
                    contentType: sendBody.indexOf(type) !== -1 ? "application/json" : "",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + token);
                    }
                }
                // Check if authorized if private, else make request
                // Note all private calls must use callbacks to access data or
                // perform events on ajax completion.
                if (isPrivate) {
                    var requestStatus = {};
                    var isAuthorized = self.$.session.isAuthorized();
                    var request = isAuthorized.then(function() {
                        return requestStatus.ajax = $.ajax(requestInfo);
                    });
                    requestStatus.q = request.done(function(data) {
                        if (typeof cb !== "function") {return}
                        cb(data);
                    })
                    .fail(function(response){
                        if (typeof ecb !== "function") {return}
                        ecb(response);
                    });
                    return requestStatus;
                } else {
                    return $.ajax(requestInfo)
                      .done(function(data) {
                          if (typeof cb !== "function") {return}
                          cb(data);
                      })
                }
            }
        })
    </script>
</dom-module>