<link rel="import" href="/components/services/identity/session-manager.html">
<link rel="import" href="/components/config.html">
<link rel="import" href="/components/services/tenant.html">
<link rel="import" href="/components/navigation/header.html">
<link rel="import" href="/components/navigation/sidebar.html">
<link rel="import" href="/components/application-manager/host.html">
<link rel="import" href="/components/ui-elements/sk-cube.html">
<style>
    #app-shell {
        margin: 0;
        height: 100%;
    }
    .app-host {
        background-color: #F3F3F4;
        position: absolute;
        width: 100%;
        top: 62px;
        bottom: 0;
    }
    .loader {
        display: block;
        position: relative;
        top: 45%;
        transform: translateY(-50%);
    }
    .spinner .sk-spinner {
        margin: 0;
        transform: translateX(0) scale(2);
    }
    .config-fail {
        text-align: center;
    }
</style>
<dom-module id="security-check">
    <template>
        <template is="dom-if" if="{{configReady}}">
            <alloy-tenant tenant-ready="{{tenantReady}}"></alloy-tenant>
            <template is="dom-if" if="{{tenantReady}}">
                <div id="wrapper" hidden$="{{!authorized}}">
                    <nav-sidebar></nav-sidebar>
                    <div id="page-wrapper" class="gray-bg">
                        <div class="row border-bottom nav-bar">
                            <nav-header-bar></nav-header-bar>
                        </div>
                        <div class="row app-host">
                            <application-host></application-host>
                        </div>
                    </div>
                </div>
            </template>
        </template>
        <div hidden$="{{authorized}}" id="app-shell" class="gray-bg">
            <div hidden class="loader">
                <div hidden$="{{!configFailed}}" class="config-fail">Loading failed. Please try again or contact support.</div>
                <spinkit-cube hidden$="{{configFailed}}" class="spinner"></spinkit-cube>
            </div>
        </div>
        <alloy-config config-ready="{{configReady}}" config-failed="{{configFailed}}"></alloy-config>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "security-check",
            ready: function() {
                var self = this;
                self.authorized = false;
                self.configReady = false;
                self.configfailed = false;
                self.tenantReady = false;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    setTimeout(function() {
                        $(".loader").addClass("animated fadeInUp").removeAttr("hidden");
                    }.bind(self), 500);
                }
            },
            observers: [
                "authorize(configReady)",
                "redirectToHome(configReady)",
                "initAuthorizeTimer(configReady)"
            ],
            authorize: function(configReady) {
                var self = this;
                if (configReady && window.jQuery) {
                    self.$.session.isAuthorized()
                        .done(function() {
                            self.authorized = true;
                        })
                        .fail(function(err) {
                            self.authorized = false;
                            window.location = window.config.login;
                        })
                }
            },
            redirectToHome: function(configReady) {
                if (configReady && !window.location.hash) {
                    this.async(function() {
                        window.location.href = window.config.home;
                    })
                }
            },
            initAuthorizeTimer: function(configReady) {
                var self = this
                if (configReady && window.jQuery) {
                    setInterval(function() {
                        self.$.session.isAuthorized()
                        .done(function() {
                            self.authorized = true;
                        })
                        .fail(function(err) {
                            self.authorized = false;
                            window.location = window.config.login;
                        })
                    }, 30000)
                }
            }
        })
    </script>
</dom-module>