<link rel="import" href="activity.html">
<link rel="import" href="dynamo-activity.html">
<link rel="import" href="activities/log.html">
<link rel="import" href="activities/add-payment.html">
<link rel="import" href="activities/reverse-payment.html">
<link rel="import" href="activities/modify-payment.html">
<link rel="import" href="activities/modify-customer-info.html">
<link rel="import" href="activities/start-stop-ach.html">
<link rel="import" href="activities/modify-status.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">

<dom-module id="loan-activities">

    <template>
        <dynamo-activity activity-open="{{dynamicOpen}}"></dynamo-activity>
        <div class="ibox-container only-one-ibox-opened">
            <loan-activity id="add-onetime-payment" activity-title="Add Payment">
                <add-payment class="loan-activity" current-loan="[[currentLoan]]"></add-payment>
            </loan-activity>
            
            <loan-activity id="modify-status" activity-title="Modify Status">
                <modify-status class="loan-activity" current-loan="{{currentLoan}}"></modify-status>
            </loan-activity>
            
            <!--<loan-activity id="reverse-payment" activity-title="Reverse Payment">
                <reverse-payment current-loan="[[currentLoan]]"></reverse-payment>
            </loan-activity>

            <loan-activity id="modify-payment" activity-title="Modify Bank Information">
                <modify-payment current-loan="[[currentLoan]]"></modify-payment>
            </loan-activity>-->

            <loan-activity id="log-loan-activity" activity-title="Log Activity">
                <log-loan-activity class="loan-activity" loan-reference="{{currentLoan.referenceNumber}}"></log-loan-activity>
            </loan-activity>
        </div>
        <event-hub id="hub">
            <event-subscription event="activity:select" on-handle="selectActivity"></event-subscription>
            <event-subscription event="activity:close" on-handle="closeActivity"></event-subscription>
            <event-subscription event="activities:reset" on-handle="resetApps"></event-subscription>
        </event-hub>
    </template>
    <script>
        Polymer({
			is : 'loan-activities',
            ready: function() {
                this.tabs = {};
                this.borrowerCopy;
                this.dynamicOpen = false;
            },
            properties: {
                number: String,
                currentLoan: {
					type: Object,
					notify: true
				},
                primaryBorrower: Object
            },
            observers: [
                "copyBorrower(primaryBorrower)"
            ],
            copyBorrower: function() {
                this.borrowerCopy = $.extend(true, {}, this.primaryBorrower);
            },
            closeActivity: function(e) {
                var selectedActivity = e.detail.activity;
                var activityDetails = e.detail.data;
                
                if (this.$[selectedActivity]) {
                    this.$[selectedActivity].closeActivity();
                }
            },
            resetApps: function() {
                $(".loan-activity.loan-activities").each(function() {
                    if (typeof this.resetApp === "function") {
                        this.resetApp();
                    }
                });
            }
		});
    </script>
</dom-module>