<link rel="import" href="activity.html">
<link rel="import" href="/components/event/hub.html">
<link rel="import" href="/components/event/subscription.html">
<link rel="import" href="activities/modify-customer-info.html">
<link rel="import" href="/components/services/url-parser.html">
<dom-module id="dynamo-activity">
    <style>
    </style>
    <template>
        <loan-activity id="activity" hidden$="{{!activityOpen}}">
        </loan-activity>
        <url-parser id="url"></url-parser>
        <event-hub id="hub">
            <event-subscription event="activity:dynamo" on-handle="loadActivity"></event-subscription>
            <event-subscription event="dynamic:close" on-handle="closeActivity"></event-subscription>
        </event-hub>
    </template>
    <script>
        Polymer({
            is: "dynamo-activity",
            properties: {
                activityOpen: {
                    type: Boolean,
                    notify: true
                }
            },
            attached: function() {
                this.activityOpen = false;
            },
            loadActivity: function(data) {
                if (!this.activityOpen || this.$.activity.title !== data.detail.title) {
                    var activity = Polymer.dom(this.$.activity);
                    var href = "components/loan/activities/" + data.detail.activity + ".html";
                    var params = this.$.url.getParams();
                    
                    var childNodes = activity.childNodes;

                    for (var i = 0; i < childNodes.length; i++) {
                        activity.removeChild(childNodes[i]);
                    }
                    
                    this.importHref(href, function(e) {
                        var id = Polymer
                            .dom(e.target.import.body)
                            .querySelector("dom-module")
                            .getAttribute("id"); 
                        
                        // create the element with the provided parameters
                        var element = document.createElement(id);
                        for(var paramName in params)
                            element.setAttribute(paramName, params[paramName])
                            // append created element
                            activity.appendChild(element);
                            activity.flush();
                        this.loadData(element, data);
                    }.bind(this));
                    return;
                }
                this.loadData($(data.detail.activity)[0], data);
            },
            // params( activity name, activity data, refresh ibox)
            // activity data should include title, activity, and properties object
            loadData: function(activity, data) {
                // Load data into miniApp
                activity.loadActivity(data.detail.properties)
                // Set dynamic activity to activity title
                this.$.activity.activityTitle = data.detail.title;
                
                // Open activity and close all others
                var $ibox = $(this.$.activity).find(".ibox");
                this.activityOpen = true;
                $(this).siblings().find("loan-activity").each(function() {
                    this.closeActivity();
                });
                this.$.activity.openActivity();
                this.$.hub.publish("activities:reset");
            },
            closeActivity: function() {
                var $ibox = $(this.$.activity).find(".ibox");
                this.$.activity.closeActivity();
                
                setTimeout(function() {
                    this.activityOpen = false;
                }.bind(this), 200);
            }
        });
    </script>
</dom-module>